<!Doctype HTML5>
<head>
  <title>
    Welcome!
  </title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <span class="navbar-text">
    Site Under Construction
  </span>
</nav>
<div class = 'jumbotron bg-danger'>

    <div class="jumbotron bg-warning">

  <div class="container">
    <h1 class="display-5 text-white bg-dark">Prishanga Prayus Bora</h1>
    <p class="lead">Working on the mathematics and solving problems by end to end implementation of learning algorithm models.</p>
    <p class="lead">Try to integrate and work on multiple technology stacks.</p>
    <a class="btn btn-primary btn-lg" href="https://drive.google.com/open?id=1wFaUzIT0dnFOilvM4jvJs28TCq_OcxuQ" role="button">Download Resume PDF</a>

  </div>
</div>

<div class="jumbotron bg-success">


  <div class="row">

    <div class="col-sm-4">
      <div class="card">
         <img class="card-img-top" src="https://stiotend.sirv.com/Images/programming.jpg" height='100px'>
        <div class="card-body">
          <h5 class="card-title">Programming Languages</h5>
          <p class="card-text">C/C++</p>
          <p class="card-text">Python</p>
          <p class="card-text">JavaScript</p>
          <p class="card-text">R</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="https://stiotend.sirv.com/Images/CoM-Pay-What-You-Want-Learn-to-Code-2017-Bundle.jpg" height='100px'/>
        <div class="card-body">
          <h5 class="card-title">Technical Skills</h5>
          <p class="card-text">Machine Learning</p>
          <p class='card-text'>Data Analytics</p>
          <p class='card-text'>Deep Learning</p>
          <p class='card-text'>Backend | App Dev</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src='https://stiotend.sirv.com/Images/1898178_f734.jpg' height = '100px'>
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
          <a href = 'https://github.com/leonbora167'>
          <img src ='https://stiotend.sirv.com/Images/5847f98fcef1014c0b5e48c0.png' height = '50px' width ='50px'/>
          </a>
          <a href = 'https://www.kaggle.com/leonbora'>
          <br>
          <br>
          <img src='https://stiotend.sirv.com/Images/kaggle-logo-gray-300.png' height ='50px' width='100px'/>
          </a>
        </div>
      </div>
    </div>

  </div>


</div>



</div>
</body>
